.reveal {

  section {
    blockquote {
      background-color: white;
      border-left: #082b36 2px solid;
      p:before {
        content: '💬';
        padding: 15px;
        float: right;
        color: #ccc;
        font-size: 2em;
      }
      cite {
        display: block;
        color: #969696;
        &:before {
          content: '-';
        }
      }
    }
  }

}
